/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 18px;
    margin: 15px;
  
  }
  
  article {
    text-align: center;
  
  }
  
  h1 {
    text-align: center;
    font-size: x-large;
  }
  
  h2 {
    text-align: center;
  }
  
  img {
      max-width: 100%;
  }

  figure {
    padding-bottom: 15px;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width: 800px){
    body {
        background-color: darkgrey;
        font-size: 21px;
    }

    article {
        background-color: aliceblue;
      }
    
      main {
        background-color: aliceblue;
    }
    
    h1 {
        background-color: aliceblue;
        font-size: xx-large;
      }
    
    figcaption {
        font-size: .95em;
    }  


  }
    
  