    main, section {
      border-color: black;
      border-style: solid;
    }

    .title {
      text-align: center;
      background-color: darkgreen;
    }

    .main-content {
      background-color: rgb(255, 255, 0);
    }

    .center-content {
      background-color: rgba(43, 117, 49, 0.589);
      width: 50%;
      margin: 0 auto;
    }

    .center-content p {
      font-style: italic;
    }

    footer {
        text-align: center;
        background-color: rgb(91, 248, 18);
    }